.das-gross-net-switch {
  /*@media screen and (min-width: 480px) and (max-width: 768px) {
    &.d-das-sm-none{display: none;}
    &.d-das-sm-block{display: block;}
    &.d-das-sm-inline-block{display: inline-block;}
  }*/
@media screen and (min-width: 768px) {
    &.d-das-md-none{display: none;}
    &.d-das-md-block{display: block;}
    &.d-das-md-inline-block{display: inline-block;}
  }
}

.offcanvas-body {
	.das-gross-net-switch {
		position: relative;
		left: 15px;
		height: 20px;
	}
}

.gross-net-switch {
  position: relative;
  width: 120px;

  @media screen and (min-width: 768px) {margin-left: auto;}

  @media screen and (max-width: 768px) {

    .form-check-input {
      width: 100px;
      height: 25px;
    }
    .form-check-label {
      padding: 5px 0;
    }
  }

  .form-check-input {
    width: 120px;
    height: 30px;
    cursor: pointer;

    &:checked {
      background-color: $sw-color-brand-secondary;
    }
  }
  .form-check-label {
    position: absolute;
    z-index: 100;
    left: 10px;

    font-size: 0.93rem;
    padding: 8px 17px;

    pointer-events: none;
  }
}

.gross-net--toggle.tax-hint {
  order: 2;
  font-size: .985rem;
  margin-left: auto;
}
