<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trudas/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field type="bool">
            <name>active</name>
            <label>Gross-Net Switch</label>
            <label lang="de-DE">Brutto-Netto Schalter</label>
        </input-field>
    </card>

<!--    <card>-->
<!--        <title>Plugin snippets</title>-->
<!--        <title lang="de-DE">Plugin Textbausteine</title>-->

<!--        <component name="sw-snippet-field">-->
<!--            <name>snippetField</name>-->
<!--            <label>Tab title</label>-->
<!--            <label lang="de-DE">Tabtitel</label>-->
<!--            <snippet>loadbee.productTab.title</snippet>-->
<!--        </component>-->

<!--        <component name="sw-snippet-field">-->
<!--            <name>snippetField</name>-->
<!--            <label>Label for no further information</label>-->
<!--            <label lang="de-DE">Label für keine weiteren Infos</label>-->
<!--            <snippet>loadbee.productTab.none</snippet>-->
<!--        </component>-->
<!--    </card>-->

</config>